<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Habit Tracker</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/style.css') }}">
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const themeToggle = document.getElementById('theme-toggle');
            const body = document.body;

            themeToggle.addEventListener('change', () => {
                body.classList.add('transition');
                if (themeToggle.checked) {
                    body.classList.remove('light-mode');
                    body.classList.add('dark-mode');
                } else {
                    body.classList.remove('dark-mode');
                    body.classList.add('light-mode');
                }
                window.setTimeout(() => {
                    body.classList.remove('transition');
                }, 300); // Match this duration with the CSS transition duration
            });
        });

        async function fetchHabits(periodicity = '') {
            const response = await fetch('/habits');
            if (!response.ok) {
                console.error("Failed to fetch habits.");
                return;
            }
            let habits = await response.json();

            if (periodicity !== '') {
                habits = habits.filter(habit => habit[2][0] === periodicity);
            }

            const tableBody = document.getElementById('habits-table-body');
            const habitNamesList = document.getElementById('habit-names-list');
            tableBody.innerHTML = '';
            habitNamesList.innerHTML = '';

            habits.forEach(habit => {
                const id = habit[0];
                const name = habit[1];
                const periodicity = habit[2];
                const createdDate = habit[3];
                const streak = habit[4];
                const lastUpdatedDate = habit[5];
                getButtonStatus(name, periodicity, createdDate, streak, lastUpdatedDate);
                appendHabitNameToList(id, name, periodicity);
            });
        }

        async function filterHabits() {
            const periodicity = document.getElementById('filter-periodicity').value;
            fetchHabits(periodicity);
            fetchStreaks();
        }

        async function getButtonStatus(name, periodicity, createdDate, streak, last_updated_at) {
            const today = new Date().toISOString().slice(0, 10);
            const response = await fetch(`/habits/check/?periodicity=${periodicity[0]}&last_updated_at=${last_updated_at}`);
            const status = await response.json();
            let buttonHTML = '';
            if (createdDate === today) {
                if (streak === 0) {
                    buttonHTML = `<button onclick="markHabitAsCompleted('${name}')">Mark as Completed</button>`;
                } else {
                    buttonHTML = getDisabledButton(periodicity);
                }
            } else if (status === 'Same') {
                buttonHTML = getDisabledButton(periodicity);
            } else {
                buttonHTML = `<button onclick="markHabitAsCompleted('${name}')">Mark as Completed</button>`;
            }

            const tableBody = document.getElementById('habits-table-body');
            const row = document.createElement('tr');
            row.innerHTML = `
                <td>${name}</td>
                <td>${periodicity}</td>
                <td>${createdDate}</td>
                <td>${streak}</td>
                <td>${last_updated_at}</td>
                <td>
                    ${buttonHTML}
                    <button class="delete-button" onclick="deleteHabit('${name}')">Delete</button>
                </td>
            `;
            tableBody.appendChild(row);
        }

        function getDisabledButton(periodicity) {
            if (periodicity[0] === 'D') {
                return `<button class="disabled" disabled>Already Done Today</button>`;
            } else if (periodicity[0] === 'W') {
                return `<button class="disabled" disabled>Already Done This Week</button>`;
            } else {
                return `<button class="disabled" disabled>Already Done This Month</button>`;
            }
        }

        async function createHabit() {
            const name = document.getElementById('habit-name').value;
            const periodicity = document.getElementById('habit-periodicity').value;
            const errorMessageElement = document.getElementById('habit-name-error');
            errorMessageElement.textContent = ''; // Clear previous error message
            if (!name.trim()) {
                alert('Habit name is required');
                return;
            }
            const response = await fetch('/habits', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ name, periodicity })
            });
            document.getElementById('habit-name').value = ''; // clear input field
            if (response.ok) {
                fetchHabits();
                fetchStreaks();
            }
            if (response.status === 400) {
                errorMessageElement.textContent = 'Habit '+ name +' already exists';
            }
        }

        async function deleteHabit(name) {
            const response = await fetch(`/habits/${name}`, { method: 'DELETE' });
            if (response.ok) {
                fetchHabits();
                fetchStreaks();
            }
        }

        async function markHabitAsCompleted(name) {
            const response = await fetch(`/habits/${name}`, { method: 'PUT' });
            if (response.ok) {
                const periodicity = document.getElementById('filter-periodicity').value;
                fetchHabits(periodicity);
                fetchStreaks();
            }
        }

        async function fetchHabitTracking(habit_id, periodicity) {
            const response = await fetch(`/habits/tracking/${habit_id}`);
            if (!response.ok) {
                console.error("Failed to fetch habit tracking data.");
                return;
            }
            const trackingData = await response.json();
            renderTrackingCalendar(trackingData, habit_id);
        }

        function renderTrackingCalendar(data, habit_id) {
            const container = document.getElementById('tracking-calendar');
            container.innerHTML = '';  // Clear previous calendar
            if (Object.keys(data).length === 0) {
                const noData = document.createElement('p');
                noData.textContent = 'Sorry, no data available yet for this habit';
                container.appendChild(noData);
                return;
            }
            for (const [year, days] of Object.entries(data)) {
                const yearContainer = document.createElement('div');
                yearContainer.classList.add('year-container');
                const yearTitle = document.createElement('div');
                yearTitle.classList.add('year-title');
                yearTitle.textContent = year;
                yearContainer.appendChild(yearTitle);

                const months = [
                    'Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun',
                    'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'
                ];
                let dayIndex = 0;

                for (let month = 0; month < 12; month++) {
                    const monthContainer = document.createElement('div');
                    const monthLabel = document.createElement('div');
                    monthLabel.classList.add('month-label');
                    monthLabel.textContent = months[month];
                    monthContainer.appendChild(monthLabel);

                    const daysInMonth = new Date(year, month + 1, 0).getDate();
                    for (let day = 0; day < daysInMonth; day++) {
                        const square = document.createElement('div');
                        square.className = 'tracking-square';
                        if (days[dayIndex] == 1) {
                            square.classList.add('completed');
                        } else {
                            square.classList.add('not-completed');
                        }
                        monthContainer.appendChild(square);
                        dayIndex++;
                    }
                    yearContainer.appendChild(monthContainer);
                }
                container.appendChild(yearContainer);
            }
        }

        function appendHabitNameToList(id, name, periodicity) {
            const listContainer = document.getElementById('habit-names-list');
            const listItem = document.createElement('li');
            listItem.textContent = name;
            listItem.onclick = () => selectHabit(id, periodicity, listItem);
            listContainer.appendChild(listItem);
        }

        async function selectHabit(id, periodicity, listItem) {
            // remove the selected-habit class from all list items
            const listContainer = document.getElementById('habit-names-list');
            Array.from(listContainer.children).forEach(item => item.classList.remove('selected-habit'));
            // add the selected-habit class to the clicked list item
            listItem.classList.add('selected-habit');

            fetchHabitTracking(id, periodicity);
        }

        async function fetchStreaks() {
            const dailyResponse = await fetch('/streaks/daily');
            const weeklyResponse = await fetch('/streaks/weekly');
            const monthlyResponse = await fetch('/streaks/monthly');

            const dailyStreak = await dailyResponse.json();
            const weeklyStreak = await weeklyResponse.json();
            const monthlyStreak = await monthlyResponse.json();

            document.getElementById('daily-streak').textContent = dailyStreak.length > 0 ? `Longest daily streak: ${dailyStreak[0][0]} with ${dailyStreak[0][1]} days` : 'No daily streaks found';
            document.getElementById('weekly-streak').textContent = weeklyStreak.length > 0 ? `Longest weekly streak: ${weeklyStreak[0][0]} with ${weeklyStreak[0][1]} weeks` : 'No weekly streaks found';
            document.getElementById('monthly-streak').textContent = monthlyStreak.length > 0 ? `Longest monthly streak: ${monthlyStreak[0][0]} with ${monthlyStreak[0][1]} months` : 'No monthly streaks found';
        }

        async function searchLongestStreak() {
            const name = document.getElementById('search-name').value;
            if (name === '') {
                document.getElementById('search-results').textContent = '';
                document.getElementById('longest-streak-info').textContent = '';
                return;
            }
            const response = await fetch(`/habits/${name}`);
            if (!response.ok) {
                console.error("Failed to fetch habit.");
                return;
            }
            const habit = await response.json();
            const longestStreakInfo = document.getElementById('longest-streak-info');
            if (habit) {
                let freqType = habit[2];
                if (freqType[0] === 'D') {
                    freqType = 'day(s)';
                } else if (freqType[0] === 'W') {
                    freqType = 'week(s)';
                } else {
                    freqType = 'month(s)';
                }
                longestStreakInfo.textContent = `Current streak for ${habit[1]}: ${habit[4]} ${freqType}`;
            } else {
                longestStreakInfo.textContent = `Habit ${name} not found`;
            }
        }

        async function createInitialHabits() {
            const response = await fetch('/create_initial_habits', { method: 'POST' });
            if (response.ok) {
                fetchHabits();
                fetchStreaks();
            }
        }

        async function clearHabitsTable() {
            const response = await fetch('/clear_habits_table', { method: 'POST' });
            if (response.ok) {
                fetchHabits();
                fetchStreaks();
                // clear tracking calendar
                document.getElementById('tracking-calendar').innerHTML = '';
            }
        }

        window.onload = () => {
            fetchHabits();
            fetchStreaks();
        };

    </script>
</head>
<body class="light-mode">
    <h1>Habit Tracker</h1>
    <div class="toggle-switch">
        <span class="icon">☀️</span>
        <input type="checkbox" id="theme-toggle">
        <label for="theme-toggle"></label>
        <span class="icon">🌙</span>
    </div>
    <div>
        <button onclick="createInitialHabits()">Create Initial Habits</button>
        <button onclick="clearHabitsTable()" class="clear-habits-button">Clear Habits Table</button>
    </div>
    <div>
        <h2>Create Habit</h2>
        <input type="text" id="habit-name" placeholder="Habit name" required>
        <select id="habit-periodicity">
            <option value="D">Daily</option>
            <option value="W">Weekly</option>
            <option value="M">Monthly</option>
        </select>
        <button onclick="createHabit()">Create</button>
    </div>
    <div id="habit-name-error" class="error-message"></div>
    <div>
        <h2>Habits</h2>
        <div>
            Filter by periodicity:
            <select id="filter-periodicity" onchange="filterHabits()">
                <option value="">All</option>
                <option value="D">Daily</option>
                <option value="W">Weekly</option>
                <option value="M">Monthly</option>
            </select>
        </div>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Periodicity</th>
                    <th>Created At</th>
                    <th>Streak</th>
                    <th>Last Updated At</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody id="habits-table-body">
                <!-- Habit rows will be inserted here -->
            </tbody>
        </table>
    </div>
    <div>
        <h2>Streaks</h2>
        <p id="daily-streak"></p>
        <p id="weekly-streak"></p>
        <p id="monthly-streak"></p>
    </div>
    <div>
        <h2>Search Longest Streak</h2>
        <input type="text" id="search-name" placeholder="Habit name" onkeyup="searchLongestStreak()">
        <div id="search-results"></div>
        <p id="longest-streak-info"></p>
    </div>
    <div>
        <h2>Tracking Calendar</h2>
        <div id="tracking-calendar-container">
            <ul id="habit-names-list"></ul>
            <div id="tracking-calendar"></div>
        </div>
    </div>
</body>
</html>
