body {
    font-family: Arial, sans-serif;
    padding: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

body.dark-mode table thead th {
    background-color: #313030; 
    color: white;
}

body.light-mode table thead th {
    background-color: lightgray;
    color: black;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
}

th {
    background-color: #f2f2f2;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #45a049;
}

.delete-button {
    background-color: #8B0000;
    color: white;
}

.delete-button:hover {
    background-color: #B22222;
}

.clear-habits-button {
    background-color: #8B0000;
    color: white; 
}

.clear-habits-button:hover {
    background-color: #B22222;
}

button:disabled {
    background-color: #436b1b;
    cursor: not-allowed; /* shows a forbidden sign on hover */
}

.tracking-square {
    width: 15px;
    height: 15px;
    margin: 2px;
    display: inline-block;
    background-color: #ebedf0;
}

.tracking-square.completed {
    background-color: #4caf50;
}

#tracking-calendar {
    display: flex;
    flex-wrap: wrap;
    width: 660px;  /* 15px * 7 days * 7 weeks + some margin */
}

#habit-names-list {
    list-style-type: none;
    padding: 0;
}

#habit-names-list li {
    cursor: pointer;
    margin: 5px 0;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

#habit-names-list li:hover {
    background-color: #f0f0f0;
}

.tracking-square {
    width: 15px;
    height: 15px;
    margin: 1px;
    display: inline-block;
    background-color: #ebedf0;
}

.tracking-square.completed {
    background-color: #4caf50;
}

.tracking-square.not-completed {
    background-color: #dfdddd;
}

.month-label {
    display: inline-block;
    width: 50px;
    text-align: right;
    margin-right: 5px;
}

.year-title {
    margin-top: 20px;
    font-size: 1.5em;
}

.selected-habit {
    background-color: #7c7b7b;
    color: rgb(0, 0, 0);
}

.error-message{
    color: darkred
}

#tracking-calendar-container {
    display: flex;
}

#habit-names-list {
    margin-right: 20px;
    width: 200px;
}

#tracking-calendar {
    flex-grow: 1; /* this makes the calendar take the remaining space */
}

/* default (light mode) styles */
body.light-mode {
    background-color: white;
    color: black;
}

/* dark mode styles */
body.dark-mode {
    background-color: #1f1f1f;
    color: white;
}

.toggle-switch {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    align-items: center;
}

.toggle-switch input[type="checkbox"] {
    display: none;
}

.toggle-switch label {
    background-color: #ccc;
    border-radius: 34px;
    cursor: pointer;
    display: inline-block;
    height: 24px;
    position: relative;
    width: 50px;
}

.toggle-switch label:before {
    content: "";
    background-color: white;
    border-radius: 50%;
    height: 20px;
    left: 2px;
    position: absolute;
    top: 2px;
    transition: 0.3s;
    width: 20px;
}

.toggle-switch input[type="checkbox"]:checked + label {
    background-color: #1f1f1f;
}

.toggle-switch input[type="checkbox"]:checked + label:before {
    transform: translateX(26px);
}

.toggle-switch .icon {
    font-size: 18px;
    margin: 0 5px;
}

.toggle-switch label:before {
    content: "";
    background-color: white;
    border-radius: 50%;
    height: 20px;
    left: 2px;
    position: absolute;
    top: 2px;
    transition: transform 0.3s ease;
    width: 20px;
}

.toggle-switch input[type="checkbox"]:checked + label:before {
    transform: translateX(26px);
}

body.dark-mode #habit-names-list li:hover {
    background-color: #313030;
    color: white;
}

body.light-mode #habit-names-list li:hover {
    background-color: lightgray;
    color: black;
}
